.pageContainer {
  display: flex;
  flex-direction: row;
}

.MainContent {
  flex-grow: 1;
  overflow: hidden;
  width: 0;
  padding: 1% 5% 1% 5%;
  display: flex;
  flex-direction: column;
}

.imageContainer {
  margin-bottom: 15px;
  cursor: pointer;
  display: flex;
  /* justify-content: center;
  align-items: center; */
}

.arrow {
  background: whitesmoke;
  padding: 0.4%;
  border-radius: 4px;
  cursor: pointer;
  height: 2vh;
  margin-left: auto;
  position: sticky;
  top: 2px;
}

.container {
  height: 100vh;
  width: 20vw;
  background: #e7e7e7;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 2px;
  right: 2px;
  overflow-y: auto; /* Enable scrolling if the content exceeds the viewport height */
}

.Tabs {
  background: white;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  cursor: pointer;
}

.new,
.edit {
  flex: 1;
  padding: 4%;
  text-align: center;
}

.new {
  background: white;
}

.edit {
  background: #e7e7e7;
}

.Item {
  background: white;
  padding: 8%;
  margin: 2%;
  border-radius: 8px;
  cursor: pointer;
}

.Item_1 {
  background: white;
  padding: 8%;
  margin: 2%;
  border-radius: 8px;
}

.Item_2 {
  display: flex;
  justify-content: space-around;
  text-align: center;
  cursor: pointer;
  background: white;
  padding: 7%;
  margin: 2%;
  border-radius: 8px;
}

.Remove {
  background: white;
  padding: 2%;
  margin: 2%;
  cursor: pointer;
  text-align: center;
  border-radius: 8px;
  color: red;
}

.align {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.slider_1 {
  padding-top: 10px;
  display: flex;
  justify-content: space-evenly;
}

.InputField {
  /* padding-top: 10px; */
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  width: 40px;
  background: transparent;
  justify-content: center;
}

.Block_row {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  /* flex-wrap: wrap; Allow containers to wrap to the next line if necessary */
}

.Block {
  flex: 1 1;
  margin-left: 2%;
  margin-right: 2%;
  /* background: #FEFEFF; */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding: 1%;
  max-width: calc(100% - 10px);
  overflow-y: auto;
}

.Block-row.two-Blocks .Block {
  flex: 1 1 50%; /* Each Block occupies 5.Block-row */
}

.Block-row.three-Blocks .Block {
  flex: 1 1 33.33%; /* Each Block occupies 33.3.Block-row */
}

.Block-row.four-Blocks .Block {
  flex: 1 1 25%; /* Each container occupies 25% of the row */
}

.defaultEdit{
  display: flex;
  flex-direction: column;
  justify-content: center; /* Aligns horizontally */
  align-items: center; /* Aligns vertically */
  height: 75vh;
  font-weight: bolder;
}

.Last_Item{
  display: flex;
  margin-top: auto;
  margin-bottom: 5%;
  width: 100%;
}

.Last_Item_each{
  flex: 1 1;
  background: rgb(101, 157, 247);
  padding: 5%;
  margin: 2%;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
}