/* App.css */

.App {
    text-align: center;
    background-color: rgb(243, 241, 237); 
    height: 210vh;
  }
  
  .navbar {
    background-color: #00004d;
    padding: 10px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
  }
  
  .navbar-logo {
    width: 40px;
  }
  
  .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  .navbar li {
    margin-right: 20px;
  }
  
  .navbar a {
    text-decoration: none;
    color: white;
    font-size: 18px;
  }
  
  /* Main content */
  .main-content {
    display: flex;
    
    flex-direction: column;
    align-items: right;
    color: #00004d;
  }
  
  
  
  .App-logo {
    width: calc(100% - 20px); /* Adjust the gap by changing the '20px' value */
    max-width: 100%;
    margin: 20px; 
    height: 80vh;
    pointer-events: none;
  }
  
  .App-header {
    background-color: rgb(243, 241, 237);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(243, 241, 237);
  }
  .news-calendar-row {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
  }
  
  /* News update */
  .news-update {
    margin-top: 20px;
    text-align: left; 
    width: 48%; 
  }
  
  .calendar {
    margin-top: 20px;
    text-align: right; 
  
    bottom: 50px; 
    right: 50px; 
    width: 260px; 
    height: 260px;
    margin-right: 80px
  }
  .calendar h2 {
    margin-right: 80px; /* Adjust the margin as needed */
  }
  .App-link {
    color: #61dafb;
  }
  