.navbar-3 {
    width: 100%; /* Take full width of its container */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #000000; /* Change as per your design */
    color: #f4f5f4;
    z-index: 997; /* Ensure it's above other content */
  }
  
  .left-section-3 {
    display: flex;
    align-items: center;
    flex: 1; /* Take remaining space */
  }
  
  .menu-name-literally-3 {
    margin-left: 10px; /* Adjust as needed */
  }
  
  .right-section-3 {
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center;
  }
  
  .logo-3 {
    max-width: 100px;
  }
  